/* src/components/RastaGallery.css */
.box {
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

.image-span {
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  transform-origin: center;
  transform-style: preserve-3d;
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
