@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white font-norse;
  }
}

@font-face {
  font-family: 'Norse';
  src: url('https://db.onlinewebfonts.com/t/1564e7cb76debc4d6313025da8e98e52.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-norse {
  font-family: 'Norse', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}